body {
  margin: 70px;
}

.beam-panel {
  float: left;
  width: 280px;
  margin: 20px;
}

.navbar-inverse {
  background-color: #5bc0de;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #5bc0de;
}
